<!-- =========== Blog Hero Start ============ -->
<header class="page-header">
  <div class="overlay"></div>
  <div id="particles-js"></div>
  <img src="{% asset_path 'img/food-background.jpg' %}" alt="media-content" class="media__content">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="hero">
          <div class="hero-wrapper">
            <h2 class="hero__title">Términos y Condiciones</h2>
            <p class="hero__caption">Conoce los términos de servicio relacionados a YummyFind.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- =========== Blog Hero End ============ -->
