<!-- =========== footer-1 End ============ -->
<footer class="footer-one background-texture">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="footer">
          <div class="brand-logo">
            <a href="#">
                                    <img src="{% asset_path 'img/yummyfind-logo-hor-alt.png' %}" alt="brand logo">
                                </a>
          </div>
          <p class="footer__caption">Los Algarrobos, Santiago de Veraguas. República de Panamá.
          </p>
          <nav class="footer-widget">
            <ul>
              <li>
                <a href="{% link privacidad.html %}">Política de Privacidad</a>
              </li>
              <li>
                <a href="{% link condiciones.html %}">Terminos y Condiciones</a>
              </li>
              <li>
                <a href="#">Política de Reembolso</a>
              </li>
            </ul>
          </nav>
          <!-- widget end -->
          <div class="footer-copyright">
            <span class="footer-copyright__text">© 2018 YummyFind, Todos los derechos reservados.
                                </span>
          </div>
          <!-- copyright content end -->
        </div>
      </div>
    </div>
    <!-- row end -->
  </div>
</footer>
<!-- =========== footer-1 End ============ -->
</div>
