<!-- =========== footer-1 End ============ -->
<footer class="footer-one">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="footer">
          <div class="brand-logo">
            <a href="#">
                                    <img src="{% asset_path 'img/yummyfind-logo-hor-alt.png' %}" alt="brand logo">
                                </a>
          </div>
          <p class="footer__caption">Sitting proudly atop M3565 is the two-storey penthouse. The master bedroom suite is phenomenally spacious and opens out to a breathtaking plunge pool.
          </p>
          <nav class="footer-widget">
            <ul>
              <li>
                <a href="#">Terminos y Condiciones</a>
              </li>
              <li>
                <a href="#">Política de Privacidad</a>
              </li>
              <li>
                <a href="#">Política de Reembolso</a>
              </li>
            </ul>
          </nav>
          <!-- widget end -->
          <div class="footer-copyright">
            <span class="footer-copyright__text">© 2018 vApp, Design with
                                    <i class="fa fa-heart"></i> by
                                    <a href="#">Team Dhrubok</a>
                                </span>
          </div>
          <!-- copyright content end -->
        </div>
      </div>
    </div>
    <!-- row end -->
  </div>
</footer>
<!-- =========== footer-1 End ============ -->
</div>
