<div class="main-wrapper home-3">
  <!-- =========== Navigation Start ============ -->
  <header class="navigation navigation__transparent navigation__right">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="navigation-content">
            <a href="{% link index.html %}" class="navigation__brand">
              <img class="navigation-main__logo" src="{% asset_path 'img/yummyfind-logo-hor.png' %}" alt="">
              <img class="sticky-nav__logo" src="{% asset_path 'img/yummyfind-logo-hor.png' %}" alt="sticky logo">
            </a>
            <button class="navigation__toggler"></button>
            <!-- offcanvas toggle button -->
            <nav class="navigation-wrapper">
              <button class="offcanvas__close">✕</button>
              <!-- offcanvas close button -->
              <ul class="navigation-menu" id="nav">

              </ul>
            </nav>
            <!-- nav item end -->
            <div class="navigation-button">
              <a href="{% link index.html %}" class="db-btn db-btn__outline nav-cta-btn">Volver al inicio</a>
            </div>

          </div>
        </div>
      </div>
      <!-- row end -->
    </div>
  </header>
  <!-- =========== Navigation End ============ -->
