<!-- =========== cta-1 start ============ -->
<section class="cta-one">
  <img src="img/shape-1.svg" alt="" class="media__content">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-11 offset-lg-1">
        <div class="cta-wrapper reveal">
          <div class="cta-content">
            <h2 class="cta__title">¡Prueba YummyFind gratis!</h2>
            <p class="cta__description">La plataforma de descubrimiento de recetas de cocina en español más grande del mundo en una sola app.</p>
            <!-- title end -->
            <div class="cta__buttons">
              <a href="#" class="db-btn db-btn__type-sm db-btn__outline">
                                        <i class="db-btn__icon nc-icon nc-ic_android_48px"></i>Play store
                                    </a>
            </div>
          </div>
          <!-- content end -->
          <div class="cta-media">
            <picture class="cta-media__img">
              <source srcset="{% asset_path 'dist/img/hero-yummyfind-2.png' %}" media="(min-width: 1200px)">
              <source srcset="{% asset_path 'dist/img/hero-yummyfind-2.png' %}" media="(min-width: 992px)">
              <img src="{% asset_path 'dist/img/hero-yummyfind-2.png' %}" alt="cta-mobile" />
            </picture>
          </div>
          <!-- media content end -->
        </div>
      </div>
    </div>
    <!-- row end -->
  </div>
</section>
<!-- =========== cta-1 End ============ -->
