<!-- =========== Hero Start ============ -->
<section class="hero-five hero-text-light content-left ">
  <div class="overlay">
  </div>
  <div id="particles-js"></div>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="hero">
          <div class="hero-wrapper">
            <div class="hero-content">
              <h1 class="hero__title">Recetas en la palma de tu mano</h1>
              <p class="hero__caption">Encuentra más de 700,000 recetas online con reconocimiento visual o busqueda manual</p>
              <div class="cta__buttons">
                <a href="#" class="db-btn db-btn__type-md db-btn__white db-btn__cta"><i class="db-btn__icon nc-icon nc-ic_android_48px"></i>Play store</a>
              </div>
            </div>
            <div class="hero-media reveal">
              <picture class="hero-media__img">
                <img src="{% asset_path 'dist/img/hero-yummyfind.png' %}" alt="hero-mobile">
              </picture>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <span class="hero__wave">
    <img class="svg hero__wave--svg" src="{% asset_path 'dist/layout/hero-wave-3.svg' %}" alt="hero-wave">
  </span>
</section>
<!-- =========== Hero End ============ -->
