<!-- =========== Facts-1 Start ============ -->
<section class="facts-one">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-10 offset-md-1">
        <div class="facts-wrapper">
          <div class="facts-media">
            <span class="facts-media__img">
                                    <img src="img/facts-1.1.png" alt="facts-img">
                                </span>
          </div>
          <!-- media content end -->
          <div class="fact reveal">
            <h2 class="fact__title">Never miss a task,
                                    <br> Get always step ahead.</h2>
            <p class="fact__description">Sitting proudly atop M3565 is the two-storey penthouse. The master bedroom suite is phenomenally spacious and opens out to a breathtaking plunge pool and bar area that makes the most of its unrivalled position.
            </p>
            <!-- text content end -->

            <ul class="fact-counter">
              <li class="fact-counter__list">
                <span class="fact-counter__list-value">1M</span>
                <span class="fact-counter__list-title">Downloads</span>
              </li>
              <!-- counter single item end -->
              <li class="fact-counter__list">
                <span class="fact-counter__list-value">30k</span>
                <span class="fact-counter__list-title">Positive Reviews</span>
              </li>
              <!-- counter single item end -->
            </ul>
          </div>
        </div>
      </div>
    </div>
    <!-- row end -->
  </div>
</section>
<!-- =========== Facts-2 End ============ -->
