<!-- =========== FAQ-2 Start ============ -->
        <section class="faq-two background-texture">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="section-title ">
                            <h2>Preguntas Frecuentes</h2>
                            <p>Conoce más sobre YummyFind, tu recetario de cocina en la palma de tu mano.
                            </p>
                        </div>
                        <!-- section title -->
                    </div>
                    <!-- sction title row -->
                </div>
                <div class="row">
                    <div class="col-12 col-lg-7">
                        <div class="faq-wrapper" id="accordion">
                            <!-- single item end -->
                            <div class="faq reveal">
                                <div class="faq-header" id="headingOne">
                                    <h5>
                                        <button class="" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                            <i class="fa fa-angle-up"></i>¿Qué es YummyFind?
                                        </button>
                                    </h5>
                                </div>

                                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                                    <p>
                                      YummyFind es una app de recetas de cocina en la que puedes descubrir más de 700,000 recetas
                                      en español lo que junto a su base de reconocimiento de fotos lo convierte en la última herramienta para
                                      cocineros aficionados y experimentados.
                                    </p>
                                </div>
                            </div>
                            <!-- single item end -->
                            <div class="faq reveal">
                                <div class="faq-header" id="headingTwo">
                                    <h5>
                                        <button class="collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                            <i class="fa fa-angle-up"></i>¿Puedo guardar recetas para después?
                                        </button>
                                    </h5>
                                </div>

                                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                                    <p>
                                        Puedes guardar tus recetas en la caja de favoritos o borrarlas si ya no las necesitas.
                                    </p>
                                </div>
                            </div>
                            <!-- single item end -->
                            <div class="faq reveal">
                                <div class="faq-header" id="headingThree">
                                    <h5>
                                        <button class="collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                            <i class="fa fa-angle-up"></i>¿Niveles y puntaje?
                                        </button>
                                    </h5>
                                </div>

                                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                                    <p>
                                        Cocinar es entretenido, pero también puedes "jugar" mientras aprendes ya sea haciendo búsquedas de recetas o realizando acciones específicas.
                                    </p>
                                </div>
                            </div>
                            <!-- single item end -->
                            <div class="faq reveal">
                                <div class="faq-header" id="headingFour">
                                    <h5>
                                        <button class="collapsed" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                            <i class="fa fa-angle-up"></i>¿Qué tecnología hay detrás de YummyFind?
                                        </button>
                                    </h5>
                                </div>

                                <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
                                    <p>
                                        YummyFind es una muestra de amor a las tecnologías que mueven la web, pero el secreto está en la integración de la base de datos de recetas de Edamam y la tecnología de reconocimiento de imágenes de IBM Watson.
                                    </p>
                                </div>
                            </div>
                            <!-- single item end -->
                            <div class="faq reveal">
                                <div class="faq-header" id="headingFive">
                                    <h5>
                                        <button class="collapsed" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFour">
                                            <i class="fa fa-angle-up"></i>¿Por que el procedimiento no está integrado en la app?
                                        </button>
                                    </h5>
                                </div>

                                <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordion">
                                    <p>
                                        Por limitaciones técnicas y a la vez para darle crédito a las fuentes originales, se ha integrado un botón que te lleva a la web original con la información completa.
                                    </p>
                                </div>
                            </div>
                            <!-- single item end -->
                            <div class="faq reveal">
                                <div class="faq-header" id="headingFive">
                                    <h5>
                                        <button class="collapsed" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFour">
                                            <i class="fa fa-angle-up"></i>Soy vegano, busco recetas libre de gluten o tengo una dieta especial por mis creencias o valores culturales
                                        </button>
                                    </h5>
                                </div>

                                <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordion">
                                    <p>
                                      YummyFind busca ser una herramienta productiva y entretenida en donde todos podamos tener una buena experiencia. Por eso todas estas opciones están disponibles en el menú de configuración.
                                      Tampoco se te mostrará niveles que involucren aquellas opciones alimentarias que deseas evitar, aún así si encuentras un error dejanos saber.
                                    </p>
                                </div>
                            </div>
                            <!-- single item end -->

                            <div class="faq-contact">
                              <span class="faq-contact__content">¿Tienes más preguntas?, Escribenos:
                                                    <a href="mailto:info@yummyfind.com">info@yummyfind.com</a>
                                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="faq-media reveal">
                <picture class="faq-media__img">
                    <img src="{% asset_path 'img/faq.png' %}" alt="">
                </picture>
            </div>
        </section>
        <!-- =========== FAQ-2 End ============ -->
