<!-- =========== FAQ-1 Start ============ -->
<section class="faq-one">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="section-title">
          <h2>Preguntas Frecuentes</h2>
          <p>
            Conoce más sobre YummyFind, tu recetario de cocina en la palma de tu mano.
          </p>
        </div>
      </div>
      <!-- section title end -->
    </div>
    <!-- section title row end -->
    <div class="row">
      <div class="col-10 mx-auto">
        <ul class="faq">
          <li class="faq-list">
            <h5 class="faq-list__title">¿Qué es YummyFind?</h5>
            <p class="faq-list-description">
              YummyFind es una app de recetas de cocina en la que puedes descubrir más de 700,000 recetas
              en español lo que junto a su base de reconocimiento de fotos lo convierte en la última herramienta para
              cocineros aficionados y experimentados
            </p>
          </li>
          <!-- single ite end -->
          <li class="faq-list">
            <h5 class="faq-list__title">¿Puedo guardar recetas para después?</h5>
            <p class="faq-list-description">
              Puedes guardar tus recetas en la caja de favoritos o borrarlas si ya no las necesitas.
            </p>
          </li>
          <!-- single ite end -->
          <li class="faq-list">
            <h5 class="faq-list__title">¿Niveles y puntaje?</h5>
            <p class="faq-list-description">
              Cocinar es entretenido, pero también puedes "jugar" mientras aprendes ya sea haciendo búsquedas de recetas o realizando acciones específicas
            </p>
          </li>
          <!-- single ite end -->
          <li class="faq-list">
            <h5 class="faq-list__title">¿Qué tecnología hay detrás de YummyFind?</h5>
            <p class="faq-list-description">
              YummyFind es una muestra de amor a las tecnologías que mueven la web, pero el secreto está en la integración de la base de datos de recetas de Edamam y la tecnología de reconocimiento de imágenes de IBM Watson.
            </p>
          </li>
          <!-- single ite end -->
          <li class="faq-list">
            <h5 class="faq-list__title">¿Por que el procedimiento no está integrado en la app?</h5>
            <p class="faq-list-description">
              Por limitaciones técnicas y a la vez para darle crédito a las fuentes originales, esto no es posible. Aún así te garantizamos que la información brindada es de las mejores que hay en la web en español.
            </p>
          </li>
          <li class="faq-list">
            <h5 class="faq-list__title">Soy vegano, busco recetas libre de gluten o tengo una dieta especial por mis creencias o valores culturales</h5>
            <p class="faq-list-description">
              YummyFind busca ser una herramienta productiva y entretenida en donde todos podamos tener una buena experiencia. Por eso todas estas opciones están disponibles en el menú de configuración.
              Tampoco se te mostrará niveles que involucren aquellas opciones alimentarias que deseas evitar, aún así si encuentras un error dejanos saber.
            </p>
          </li>
          <!-- single ite end -->
        </ul>
      </div>
    </div>
    <!-- row end -->
    <div class="row">
      <div class="col-12">
        <div class="faq-contact">
          <span class="faq-contact__content">¿Tienes más preguntas?, Escribenos:
                                <a href="mailto:">info@vapp.com</a>
                            </span>
        </div>
        <!-- faq contact end -->
      </div>
    </div>
  </div>
</section>
<!-- =========== FAQ-1 End ============ -->
