<!-- =========== Features-2 Start ============ -->
<section class="features-two" id="caracteristicas">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="section-title">
          <h2>Descubre nuevas recetas
                                <br>en la palma de tu mano</h2>
          <p>
            Cada vez que haces una búsqueda, YummyFind te sugiere hasta un máximo de 10 recetas diferentes con ilustración, ingredientes, información nutricional y la web en donde puedes ver más sobre la misma.
          </p>
        </div>
      </div>
      <!-- section title end -->
    </div>
    <!-- section title row end -->
    <div class="row">
      <div class="col-12 col-md-11 offset-md-1">
        <div class="feature-wrapper">
          <ul class="feature">
            <li class="feature__list">
              <span class="feature__icon"></span>
              <div>
                <h5 class="feature__title">Diferentes tipos de recetas</h5>
                <p class="feature__description">Postres, comidas, vegano, libre de gluten... No importa, ¡YummyFind lo encuentra para ti!.</p>
              </div>
            </li>
            <!-- single item end -->
            <li class="feature__list">
              <span class="feature__icon"></span>
              <div>
                <h5 class="feature__title">Machine Learning + Una base de datos de recetas gigante</h5>
                <p class="feature__description">Con YummyFind puedes reconocer más de 2000 ingredientes y comidas únicas, sumadas a las más de 700,000 sugerencias de recetas en español. ¡Las posibilidades son ilimitadas!.</p>
              </div>
            </li>
            <!-- single item end -->
            <li class="feature__list">
              <span class="feature__icon"></span>
              <div>
                <h5 class="feature__title">Gamificación integrada</h5>
                <p class="feature__description">Sube de nivel y mejora tu puntuación mientras aprendes.
                </p>
              </div>
            </li>
            <!-- single item end -->
          </ul>
          <!-- feature content end -->
          <div class="feature-media reveal">
            <div id="three-container">
            </div>
          </div>
          <!-- media content end -->
        </div>
      </div>
    </div>
    <!-- row end -->
  </div>
</section>
<!-- =========== Features-2 End ============ -->
