<!-- =========== Features-1 Start ============ -->
<section class="features-one reveal">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-4">
        <div class="feature">
          <span class="feature__icon">
                                <i class="nc-icon icon-aperture"></i>
                            </span>
          <h5 class="feature__title">Reconocimiento de imagenes integrado</h5>
          <p class="feature__description">Usa tu cámara para reconocer alimentos e ingredientes con la mejor precisión existente</p>
        </div>
      </div>
      <!-- single item end -->
      <div class="col-12 col-md-4">
        <div class="feature">
          <span class="feature__icon">
                                <i class="nc-icon icon-trophy"></i>
                            </span>
          <h5 class="feature__title">Completa niveles y vuelvete un experto</h5>
          <p class="feature__description">Completa acciones a lo largo de 20 niveles con los que puedes conocer nuevas recetas</p>
        </div>
      </div>
      <!-- single item end -->
      <div class="col-12 col-md-4">
        <div class="feature">
          <span class="feature__icon">
                                <i class="nc-icon icon-layers"></i>
                            </span>
          <h5 class="feature__title">Más de 700,000 recetas en español</h5>
          <p class="feature__description">Usa reconocimiento visual o busqueda por texto para tener en instantes un listado de recetas online</p>
        </div>
      </div>
      <!-- single item end -->
    </div>
    <!-- row end -->
  </div>
</section>
<!-- =========== Features-1 End ============ -->
