<!-- =========== How it work End ============ -->
<section class="working-process" id="working-process">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="section-title">
          <h2>¿Cómo funciona YummyFind?</h2>
          <p>YummyFind será tu nuevo ayudante en la cocina sin importar la calidad de tu conexión a internet, solo debes seguir estos pasos.</p>
        </div>
      </div>
      <!-- section title end -->
    </div>
    <!-- section title row end -->
    <div class="row">
      <div class="col-12">
        <div class="working-process-wrapper reveal">
          <ul class="working-process-list">
            <li class="working-process-list-item">
              <span class="working-process__icon">
                                        <i class="nc-icon lnr lnr-cloud-download"></i>
                                    </span>
              <div>
                <h5 class="working-process__title">Instala la App</h5>
                <p class="working-process__description">Instala la versión web desde el navegador o la app para Android.
                </p>
              </div>
            </li>
            <!-- single item end -->
            <li class="working-process-list-item">
              <span class="working-process__icon">
                                        <i class="nc-icon lnr lnr-laptop-phone"></i>
                                    </span>
              <div>
                <h5 class="working-process__title">Has tu primera búsqueda</h5>
                <p class="working-process__description">Toma una foto a tu comida o simplemente hacer una búsqueda por texto.
                </p>
              </div>
            </li>
            <!-- single item end -->
            <li class="working-process-list-item">
              <span class="working-process__icon">
                                        <i class="nc-icon lnr lnr-dinner"></i>
                                    </span>
              <div>
                <h5 class="working-process__title">Recibe sugerencias</h5>
                <p class="working-process__description">Recibirás un máximo de hasta 10 recetas diferentes relacionadas a tu búsqueda, con toda la información que necesitas.
                </p>
              </div>
            </li>
            <!-- single item end -->
          </ul>
        </div>
      </div>
    </div>
    <!-- content row end -->
  </div>
</section>
<!-- =========== How it work End ============ -->
