<!-- =========== Newsletter-2 Start ============ -->
<section class="newsletter-two" id="newsletter">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="newsletter reveal">
          <div class="newsletter-content">
            <span class="newsletter-icon">
                                    <i class="nc-icon nc-send"></i>
                                </span>
            <div class="newsletter-content-text">
              <h2 class="newsletter-optin__title">Suscribete a Nuestra Lista de Correo</h2>
              <p class="newsletter-optin__description">Enterate de noticias relacionadas a YummyFind</p>
            </div>
          </div>
          <!-- content end -->
          <div class="newsletter-optin">

            <form class="form newsletter-optin__form" action="https://rhcloud.us9.list-manage.com/subscribe/post?u=24d457aa0b64091c1e98f7e57&amp;id=c1c2d5cb91" method="post" target="_blank" novalidate>
              <div class="form__field form__field--group">
                <input class="form-control" type="text" value="" name="EMAIL" id="mce-EMAIL" value="" placeholder="Introduce tu email" required="">
                <input type="submit" value="Enviar" name="subscribe" id="mc-embedded-subscribe" class="btn__submit">
              </div>
              <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_24d457aa0b64091c1e98f7e57_c1c2d5cb91" tabindex="-1" value=""></div>
            </form>

            <!-- from end -->
            <ul class="newsletter-features">
              <li>Recibe anuncios y noticias</li>
              <li>Cancela en cualquier momento</li>
            </ul>
            <!-- features end -->
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- =========== Newsletter-2 End ============ -->
