<!-- =========== newsletter-1 Start ============ -->
<section class="newsletter-one" id="newsletter">
  <img src="img/map.png" alt="media__content" class="media__content">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="newsletter-wrapper">
          <div class="newsletter-media reveal">
            <picture class="newsletter-media__img">
              <source srcset="img/book.png" media="(min-width: 768px)">
              <img src="img/book--smaller.png" alt="book">
            </picture>
          </div>
          <!-- media content end -->

          <div class="newsletter-optin reveal">
            <h2 class="newsletter-optin__title">Suscribete a Nuestra Lista de Correo</h2>
            <p class="newsletter-optin__description">Enterate de noticias relacionadas a YummyFind</p>

            <form class="form newsletter-optin__form" action="#">

              <div class="form__field form__field--group">
                <input class="form-control" type="text" name="email" value="" placeholder="Introduzca su correo" required="">
                <button type="submit" class="btn__submit">
                                            <i class="btn__submit--icon nc-icon nc-send"></i>
                                        </button>
              </div>
            </form>
          </div>
          <!-- content end -->
        </div>
      </div>
    </div>
    <!-- row end -->
  </div>
</section>
<!-- =========== newsletter-1 End ============ -->
