<!-- =========== Newsletter-2 Start ============ -->
<section class="newsletter-two">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="newsletter reveal">
          <div class="newsletter-content">
            <span class="newsletter-icon">
                                    <i class="nc-icon nc-send"></i>
                                </span>
            <div class="newsletter-content-text">
              <h2 class="newsletter-optin__title">Suscribete a Nuestra Lista de Correo</h2>
              <p class="newsletter-optin__description">Enterate de noticias relacionadas a YummyFind</p>
            </div>
          </div>
          <!-- content end -->
          <div class="newsletter-optin">
            <form class="form newsletter-optin__form" action="#">
              <div class="form__field form__field--group">
                <input class="form-control" type="text" name="email" value="" placeholder="Introduce tu email" required="">
                <button type="submit" class="btn__submit">
                                            Enviar
                                        </button>
              </div>
            </form>
            <!-- from end -->
            <ul class="newsletter-features">
              <li>Recibe anuncios y noticias</li>
              <li>Cancela en cualquier momento</li>
            </ul>
            <!-- features end -->
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- =========== Newsletter-2 End ============ -->
